@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-family : "Roboto Condensed", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);

  }

  @media print {
    .no-print {
      display: none;
    }
    .pre-op{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
      font-size: x-large;
      border: 2px solid black;
    }

    .pre-op-title{
      font-weight: 500;
      width: 100%;
      background-color: gray;
    }
  }